In [28]:
import pandas as pd 
import sqlite3 as sql

In [30]:
# Create a connection to the SQLite database
conn = sql.connect('db.sqlite3')
#lets create a cursor object
cur = conn.cursor()

In [43]:
df= pd.read_sql_query("SELECT * FROM Library_favorite", conn)

In [47]:
df= pd.read_sql_query("SELECT * FROM Library_favorite", conn)
df

Empty DataFrame
Columns: [id, email, book_id]
Index: []